@import "tailwindcss";

* {
  @apply outline-0 touch-none overflow-hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

html, body, main {
  @apply relative size-full;
}